<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AquaLogic_wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AquaLogic_wpf.Properties.Settings>
            <setting name="ipAddr" serializeAs="String">
                <value>192.168.0.15</value>
            </setting>
            <setting name="portNum" serializeAs="String">
                <value>8899</value>
            </setting>
            <setting name="Valve3" serializeAs="String">
                <value>Solar</value>
            </setting>
            <setting name="Valve4" serializeAs="String">
                <value>Valve4</value>
            </setting>
            <setting name="Aux1" serializeAs="String">
                <value>Spa Jets</value>
            </setting>
            <setting name="Aux2" serializeAs="String">
                <value>Yard Light</value>
            </setting>
            <setting name="Aux3" serializeAs="String">
                <value>Spillover Cycle</value>
            </setting>
            <setting name="Aux4" serializeAs="String">
                <value>Spa &amp; Heater</value>
            </setting>
            <setting name="Aux5" serializeAs="String">
                <value>Acid Pump</value>
            </setting>
            <setting name="Aux6" serializeAs="String">
                <value>Aux6</value>
            </setting>
            <setting name="Aux7" serializeAs="String">
                <value>Aux7</value>
            </setting>
            <setting name="Aux8" serializeAs="String">
                <value>Aux8</value>
            </setting>
            <setting name="Aux9" serializeAs="String">
                <value>Aux9</value>
            </setting>
            <setting name="Aux10" serializeAs="String">
                <value>Aux10</value>
            </setting>
            <setting name="Aux11" serializeAs="String">
                <value>Aux11</value>
            </setting>
            <setting name="Aux12" serializeAs="String">
                <value>Aux12</value>
            </setting>
            <setting name="Aux13" serializeAs="String">
                <value>Aux13</value>
            </setting>
            <setting name="Aux14" serializeAs="String">
                <value>Aux14</value>
            </setting>
            <setting name="LogInt" serializeAs="String">
                <value>0</value>
            </setting>
        </AquaLogic_wpf.Properties.Settings>
    </userSettings>
</configuration>